/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-sep-2017, 17:27:57
    Author     : Simon
*/
h1 {text-align: center}
h2 {margin-left: 10%}
ol {margin-left: 5%}
#cabecera {border:1px solid; text-align: center; background-color:azure;margin-left: 5%; margin-right: 5%;}
#errores {border:1px solid; margin-left: 5px; margin-right: 30%; background-color:azure; color:red; padding-left: 15px;}
a{text-decoration: none}
a{font-size:20px}


